@import "tailwindcss";
/* @import "base"; */
/* @import "components";
@import "utilities"; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunitio Sans", sans-serif;
}

.cell {
  display: inline-block;
  width: 49%;
  text-align: center;
}

.circle {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgba(203, 37, 156, 0.671);
  box-shadow: 4px -40px 60px 5px rgb(40, 37, 203) inset;
}

.rotate-in-up-left {
  animation: rotate-in-up-left 2s ease infinite;
}

@keyframes rotate-in-up-left {
  0% {
    transform-origin: left bottom;
    transform: rotate(90deg);
  }
  100% {
    transform-origin: left bottom;
    transform: rotate(0);
    opacity: 1;
  }
}

.form-container {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  box-sizing: border-box;
}

/* Custom Scrollbar Styles */
/* Track */
::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #887c7c;
  border-radius: 6px;
  display: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #302f2f;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
